/* Styling Investigation boxes. Demo */

div.investigation:before {
        content: "Investigation";
        font-weight: bold;
        font-size:10pt;
}

div.investigation-aim:before {
    content: "Aim: ";
    font-weight: bold;
    padding-after:10px;
    font-size:10pt;
}

div.investigation-apparatus:before {
    content: "Apparatus: ";
    font-weight: bold;
    padding-after:10px;
    font-size:10pt;
}

div.investigation-method:before {
    content: "Method: ";
    font-weight: bold;
    padding-after:10px;
    font-size:10pt;
}

div.investigation {
    background-color: #B0FFA8;
    border-radius: 5px;
    padding:5px;
}

